@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>BSCIT</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Centro de Soluciones de Negocio con TI</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Registrase</a>
            </div>
        </div>
    </div>
</header>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">CAPACITACIÓN ONLINE</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    Nuestra modalidad on-line considera las
                    siguiente características:
                </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Comenzar</a>
            </div>
        </div>
    </div>
</section>
<!---->
<div class="container">
    <!-- Page Heading -->
    <h1 class="my-4">
        Cursos
        <small>BSCIT</small>
    </h1>

    <!-- Project One -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="https://www.guiainfantil.com/uploads/educacion/presora-madre-hijo-clase-p.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Taller: Introducción al Pensamiento Computacional</h3>
            <p>
                Con el incremento en la educación de Ciencias de la Computación (informática), los docentes de todas las áreas curriculares, están buscando maneras de incorporar los principios de la informática en su currículo.
            </p>
            <a class="btn btn-primary" href="#">View Project</a>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Project Two -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Taller: 30 Apss Microsoft para transformar el Aprendizaje</h3>
            <p>Descubre a tu geek interno y comprueba cómo estas 30 aplicaciones de Microsoft están siendo utilizadas por algunos de los educadores más innovadores del mundo en sus aulas.</p>
            <a class="btn btn-primary" href="#">View Project</a>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Project Three -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Taller: Construyendo una clase digital con One Note 2016</h3>
            <p>Organice, cree y colabore en cualquier momento, en cualquier lugar con texto, audio, vídeo, archivos, tinta digital y ¡mucho más!</p>
            <a class="btn btn-primary" href="#">View Project</a>
        </div>
    </div>
    <!-- /.row -->
    <hr>


    <!---->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¿Por qué certificarse con BSCIT?</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-coffee text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Proposito 1</h3>
                        <p class="text-muted mb-0">Contexto de Proposito</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-coffee text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Proposito 2</h3>
                        <p class="text-muted mb-0">Contexto de Proposito</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Proposito 3</h3>
                        <p class="text-muted mb-0">Contexto de Proposito</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
                        <h3 class="mb-3">Proposito 4</h3>
                        <p class="text-muted mb-0">Contexto de Proposito</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-0" id="portfolio">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Cursos</h2>
            <hr class="my-4">
        </div>

        <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/banners_talleres_MIE_1_hora_1.jpg">
                        <img class="img-fluid" src="img/portfolio/fullsize/banners_talleres_MIE_1_hora_1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Titulo
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/banners_talleres_MIE_1_hora_2.jpg">
                        <img class="img-fluid" src="img/portfolio/fullsize/banners_talleres_MIE_1_hora_2.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Titulo
                                </div>
                                <div class="project-name">
                                    Descripcion
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/banners_talleres_MIE_1_hora_3.jpg">
                        <img class="img-fluid" src="img/portfolio/fullsize/banners_talleres_MIE_1_hora_3.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Titulo
                                </div>
                                <div class="project-name">
                                    Descripcion
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/banners_talleres_MIE_1_hora_4.jpg">
                        <img class="img-fluid" src="img/portfolio/fullsize/banners_talleres_MIE_1_hora_4.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Titulo
                                </div>
                                <div class="project-name">
                                    Descripcion
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/banners_talleres_MIE_1_hora_5.jpg">
                        <img class="img-fluid" src="img/portfolio/fullsize/banners_talleres_MIE_1_hora_5.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Titulo
                                </div>
                                <div class="project-name">
                                    Descripcion
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/banners_talleres_MIE_1_hora_6.jpg">
                        <img class="img-fluid" src="img/portfolio/fullsize/banners_talleres_MIE_1_hora_6.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Titulo
                                </div>
                                <div class="project-name">
                                    Descripcion
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Nuestro Grupo</h2>
            <hr class="my-4">
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>
                Alguien
                <small>Grado o Nivel</small>
            </h3>
            <p>Con el Grupo BSCIT ......!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>
                Alguien
                <small>Grado o Nivel</small>
            </h3>
            <p>Con el Grupo BSCIT ......!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>
                Alguien
                <small>Grado o Nivel</small>
            </h3>
            <p>Con el Grupo BSCIT ......!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>
                Alguien
                <small>Grado o Nivel</small>
            </h3>
            <p>Con el Grupo BSCIT ......!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>
                Alguien
                <small>Grado o Nivel</small>
            </h3>
            <p>Con el Grupo BSCIT ......!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>
                Alguien
                <small>Grado o Nivel</small>
            </h3>
            <p>Con el Grupo BSCIT ......!</p>
        </div>
    </div>


<!--
    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
        <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
      </div>
    </section>
  -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Contactanos!</h2>
                <hr class="my-4">
                <p class="mb-5">Informacion de para contacto con BSCIT</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                <p>054- XXXXXX</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                <p>
                    <a href="mailto:your-email@your-domain.com">bscit@grupobscit.com</a>
                </p>
            </div>
        </div>
    </div>
</section>

</div>
